.header-container{
    background: #fff ;
    width: 100%;
    display: block;
    
}
.header-container-items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height:90px;
  
}
.header-container-items h1 {
margin-left: 40px;

}

.nav-bar{
    display:flex;
    
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-weight: 700;
    margin-right:40px;
    
    
}

.nav-bar li{
    margin-right: 40px;
    text-decoration: none;
   
    letter-spacing: .5px;
   cursor: pointer;
    

}


.nav-bar a {
    text-decoration: none;
    color:darkslategray;
    
}

.nav-bar a:hover{
    text-decoration: underline 2px;
    text-decoration-color: darkslategray;
    
}

.burger-menu {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: darkslategray;
    transition: transform 0.75s ease, opacity 0.75s ease;
  }
  .model{
      display: none;
  }


  @media screen and (max-width: 767px) {
      .main-container{
          width:100%;
      }
    .burger-menu {
      display: block;
      cursor: pointer;
      margin-top: 16px;
    margin-right: 10px;
      
      
    }
    
    .nav-bar ul{
        display: none;
    }
    .model{
        display: none;
        width:100vw;
        height:100vh;
        background:red;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .model.active{
        display:block;
    }
  }